body {
  	margin: 0;
  	padding: 0;
	background-color: #eee;
	font-family: 'Lato', sans-serif;
}

div {
	box-sizing: border-box;
}
.logo {
	height: 20px;
}
.header a, .menu a {
    color: lightgrey;
	margin-right: 30px;
	font-size: 14px;
}
.menu {
	height: 40px;
}
.menu a {
	padding: 10px 0;
}
.menu a:hover{
	color: white;
	border-bottom-color: red;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}
.header, .menu, .title, .content, .wrap-footer{
	padding: 0 17%;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
  	padding: 10px 17%;
  	background-color: #292929;
}

.menu {
	display: flex;
	align-items: center;
	padding: 15px 17%;
	background-color: #303030;
	margin: 0 auto 35px;
}

.title span{
	margin-bottom: 1%;
	font-size:  22px;
}

.howto{
	margin-bottom: 4%;
	font-size: 14px;
}
.title .howto b {
	font-size: 16px;
}
.howto span {
	color: grey;
	font-size:  15px;
}
.content {
	display: flex;
	margin-bottom: 2%;
}

.wrap-options {
	display: flex;
	flex-direction: column;
	height: 600px;
	width: 30%;
	margin-right: 2%;
}

.wrap-fonts, .wrap-frames {
	height: 50%;
	padding: 3% 0% 0 3%;
	background-color: white;
	
}
.wrap-fonts {
	margin-bottom: 5%;
}
.wrap-fonts, .wrap-frames, .builder {
	box-shadow: 0px 0px 3px 3px rgba(128, 128, 128, 0.4);
}
div.wrap-fonts, .wrap-frames {
	overflow-y: scroll;
}
.font {
	height: 5vw;
}
.font, .frame {
	width: 30%;
	/* padding: 5%; */
	margin-bottom: 5%;
	margin-right: 3%;
	background-color: white;
	border: 1px solid lightgrey;
}

.font:hover, .frame:hover{
	border: 1px solid #0e9bd0;
}
.builder {
	display: flex;
	flex-direction: column;
	height: 600px;
	width: 70%;
    background-image: url("./assets/img/builder-bg.png");
	border: 2px solid #eeeeee;
	padding: 10px;
	overflow: hidden;
}

.wrap-footer {
	display: flex;
	padding-bottom: 70px;
}

.padding-space {
	width: 30%;
	margin-right: 2%;
}

.footer {
	display: flex;
	width: 70%;
	flex-direction: column;
}

.wrap-social {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 30px;
	overflow: hidden;
}
.btn-social {
	display: flex;
	padding: 10px 15px;
	align-items: center;
	border-radius: 5%;
	box-shadow: 0px 0px 2px 2px rgba(128, 128, 128, 0.4);
}

.social-letter {
	margin-left: 10px;
	color: white;
}

.footer-content span {
	margin-bottom: 3%;
	font-size:  18px;
}
.footer-content p {
	font-size: 14px;
	color: grey;
	line-height: 20px;
}

.wrap-input {
	display: flex;
	width: 100%;
	background-color: white;
	height: 50px;
	margin-bottom: 10px;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
	border: transparent;
	align-items: center;
}
.wrap-input span {
	color: grey;
	font-size: 12px;
}
.btn-download {
	position: relative;
	width: 150px;
	height: 50px;
	right: 0;
}

.wrap-text-color {
	display: flex;
	align-items: center;
}

