
@font-face {
	font-family: 'DoubleTrouble';
	src: url('./assets/otf/DoubleTrouble.otf');
}

@font-face {
	font-family: 'BlossomyRegular';
	src: url('./assets/otf/BlossomyRegular.otf');
}

@font-face {
	font-family: 'CollegeStarFull';
	src: url('./assets/otf/CollegeStarFull.otf');
}

@font-face {
	font-family: 'EMFunNeverEnds';
	src: url('./assets/otf/EMFunNeverEnds.otf');
}

@font-face {
	font-family: 'HitchHikerRegular';
	src: url('./assets/otf/HitchHikerRegular.otf');
}

@font-face {
	font-family: 'RosifyFull';
	src: url('./assets/otf/RosifyFull.otf');
}


@font-face {
	font-family: 'ArtDecograms-Regular';
	src: url('./assets/otf/ArtDecograms-Regular.otf');
}


@font-face {
	font-family: 'ArtMono-Regular';
	src: url('./assets/otf/ArtMono-Regular.otf');
}

@font-face {
	font-family: 'Aunigramia-Regular';
	src: url('./assets/otf/Aunigramia-Regular.otf');
}

@font-face {
	font-family: 'AvenueMonograms-Regular';
	src: url('./assets/otf/AvenueMonograms-Regular.otf');
}

@font-face {
	font-family: 'C&SMonograms-Regular';
	src: url('./assets/otf/C&SMonograms-Regular.otf');
}

@font-face {
	font-family: 'Duograms-Regular';
	src: url('./assets/otf/Duograms-Regular.otf');
}

@font-face {
	font-family: 'FMMonograms-Regular';
	src: url('./assets/otf/FMMonograms-Regular.otf');
}

@font-face {
	font-family: 'InitialsD-Regular';
	src: url('./assets/otf/InitialsD-Regular.otf');
}

@font-face {
	font-family: 'JasmineMonograms-Regular';
	src: url('./assets/otf/JasmineMonograms-Regular.otf');
}

@font-face {
	font-family: 'Marionograms-Regular';
	src: url('./assets/otf/Marionograms-Regular.otf');
}

@font-face {
	font-family: 'Monogramia3-Regular';
	src: url('./assets/otf/Monogramia3-Regular.otf');
}

@font-face {
	font-family: 'Monogramia4-Regular';
	src: url('./assets/otf/Monogramia4-Regular.otf');
}

@font-face {
	font-family: 'SelinaMonograms-Regular';
	src: url('./assets/otf/SelinaMonograms-Regular.otf');
}

@font-face {
	font-family: 'STDMonograms-Regular';
	src: url('./assets/otf/STDMonograms-Regular.otf');
}

@font-face {
	font-family: 'Triograms-Regular';
	src: url('./assets/otf/Triograms-Regular.otf');
}

@font-face {
	font-family: 'WeLoveMonograms-Regular';
	src: url('./assets/otf/WeLoveMonograms-Regular.otf');
}

@font-face {
	font-family: 'YAMMonograms-Regular';
	src: url('./assets/otf/YAMMonograms-Regular.otf');
}